*.apk
*.aab
*.dex

*.class

bin/
gen/
out/

.gradle/
build/
*/build/

local.properties

.idea/
*.iml

!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/runConfigurations/

*.log
.navigation/

captures/

*.jks
*.keystore

app/google-services.json

.DS_Store
Thumbs.db

.kotlin/

.externalNativeBuild/
.cxx/

# Firebase crash logs
com_crashlytics_export_strings.xml

Backend/.env
.env
Backend/services.json